body {
  text-align: center;
}

h1 {
  color: green;
  font-size: 32;
  font-family: sans-serif;
}

h2 {
  color: red;
}

ul {
  font-weight: 200;
  font-family: cursive;
  list-style: none;
}

h3 {
  color: brown;
}

p {
  font-size: 24px;
}

img.round {
  border-radius:  50%;
  width: 50%;
}
